.header{
    width: auto;
    height: 10vh;
    color: black;
    font-size: 50px;
    font-weight: bold;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Cố định Header ở phía trên cùng */
    top: 0;
    left: 0;
    right: 0;
}
